<div class="page-container">
    <div class="page-header">
        <div class="title-section">
            <h1>Items <span class="badge">{{ totalElements }}</span></h1>
        </div>

        <div class="action-section">
            <button class="btn-delete" *ngIf="selectedIds.size > 0" (click)="deleteSelected()">
                Xóa đã chọn ({{ selectedIds.size }})
            </button>
            <div class="search-box">
                <input type="text" placeholder="Search items..." [(ngModel)]="keyword" (ngModelChange)="searchData()">
            </div>
            <button class="btn-filter" (click)="openfiltermodal()">
                Filter
            </button>
            <button class="btn-create" routerLink="/cms/items/create">+ Create</button>
        </div>
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th class="col-check">
                        <input type="checkbox" [checked]="isAllSelected()" (change)="toggleAllSelection()">
                    </th>
                    <th>ITEM ⇅</th>
                    <th>TIER ⇅</th>
                    <th>SET ⇅</th>
                    <th>ITEM STATUS ⇅</th>
                    <th>SET STATUS ⇅</th>
                    <th>UPDATED AT ⇅</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        <input type="checkbox" [checked]="selectedIds.has(item.id)" (change)="toggleSelection(item.id)">
                    </td>
                    <td class="item-info">
                        <img [src]="item.imageUrl" [alt]="item.name" class="item-image">

                        <span>{{ item.name }}</span>
                    </td>
                    <td>{{item.tier}}</td>
                    <td>{{item.setName}}</td>
                    <td>{{item.deleted ? 'Lock' : 'Active'}}</td>
                    <td>{{item.setStatus}}</td>
                    <td>{{item.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <div>
                            <button (click)="toggleDropdown(item.id, $event)"> --- </button>
                        </div>
                        <div *ngIf="activeDropdownId === item.id" style="display: flex; flex-direction: column;">
                            <button [routerLink]="['/cms/items/view', item.id]">
                                VIEW
                            </button>
                            <button [routerLink]="['/cms/items/edit', item.id]">
                                EDIT
                            </button>
                            <button (click)="deleteItem(item.id)">
                                DELETE
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [page]="page" [size]="size" [totalPages]="totalPages" [totalElements]="totalElements"
        (pageChange)="changePage($event)" (sizeChange)="changePageSize($event)">
    </app-pagination>

    <div *ngIf="showFilterModal" class="modal-filter">
        <div>
            <h1>filter</h1>
        </div>
        <div class="model-content">
            <div class="model-content1">
                <div class="model-detail">
                    <label>Mùa giải</label>
                    <select [(ngModel)]="filterset">
                        <option value="">All</option>
                        <option *ngFor="let item of sets" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="model-detail">
                    <label>Tier</label>
                    <select [(ngModel)]="filterTier">
                        <option value="">All</option>
                        <option value="S">S</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
            </div>
            <div class="model-content1">
                <div class="model-detail">
                    <label>Item Status</label>
                    <select [(ngModel)]="filterItemStatus">
                        <option value="">All</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
                <div class="model-detail">
                    <label>Set Status</label>
                    <select [(ngModel)]="filterSetStatus">
                        <option value="">All</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="model-footer">
            <button (click)="closefiltermodal()">Cancel</button>
            <div>
                <button (click)="resetFilter()">Reset</button>
                <button (click)="applyFilter()">Filter</button>
            </div>
        </div>
    </div>
</div>