<div>
    <div>
        SET VIEW DETAIL
    </div>
    <div>
        <div>
            name: {{set.name}}
        </div>
        <div>
            description: {{set.description}}
        </div>
        <div>
            createdBy: {{set.createdBy}}
        </div>
        <div>
            updatedAt: {{set.updatedAt}}
        </div>
        <div>
            createdAt: {{set.createdAt}}
        </div>

        <div>
            Status: {{set.deleted ? 'Lock' : 'Active'}}
        </div>
    </div>
</div>