<div>
    <div>
        <div>
            <h1>Thêm user mới </h1>
        </div>
        <div>
            <div>
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label>Username</label>
                        <input type="text" formControlName="username">
                        <app-form-error [control]="createForm.get('username')"></app-form-error>
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" formControlName="email">
                        <app-form-error [control]="createForm.get('email')"></app-form-error>
                    </div>
                    <div>
                        <label>Role</label>
                        <select (change)="onRoleChange($event)" formControlName="roleId">
                            <option [value]="null">-- Chọn Role --</option>
                            <option *ngFor="let role of roles" [value]="role.id">
                                {{role.name || role.code}}
                            </option>
                        </select>
                        <app-form-error [control]="createForm.get('roleId')"></app-form-error>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" formControlName="defaultPassword">
                        <app-form-error [control]="createForm.get('defaultPassword')"></app-form-error>
                    </div>
                    <div>
                        <button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>